<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterWifiServlet</servlet-name>
        <servlet-class>accesscontrol.RegisterWifiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>accesscontrol.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterRoomServlet</servlet-name>
        <servlet-class>accesscontrol.RegisterRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPermissionServlet</servlet-name>
        <servlet-class>accesscontrol.AddPermissionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterWifiServlet</servlet-name>
        <url-pattern>/RegisterWifiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterRoomServlet</servlet-name>
        <url-pattern>/RegisterRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPermissionServlet</servlet-name>
        <url-pattern>/AddPermissionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
